# DB Configuration
DBHOST=
DBUSER=
DBPASSWORD=
DATABASE=

# Server Environment
PORT=

#SMTP
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

#JWL
JWT_SECRET=

# Media Server
MEDIA_PATH=
